---
layout: default
title: "Nick Henscheid"
---
<div class="introduction">
  <h1></h1>

<p>I am a postdoctoral research associate in the <a href="https://medicalimaging.medicine.arizona.edu/" target="_blank">Department of Medical Imaging</a> at the University of Arizona.  I received my PhD from the <a href="http://appliedmath.arizona.edu/" target="_blank">Program in Applied Mathematics</a> under <a href="https://wp.optics.arizona.edu/cgri/" target="_blank">Harrison Barrett</a>.   I employ random process and statistical inverse problem theory together with high-performance parallel computation to understand the role that emission imaging data plays in precision mathematical oncology.
</p>
<p>
To read more about my research, visit my <a href="/research">research</a> page. 	
</p>

<p>
You can find my CV <a href="/assets/cv.pdf" target="_blank">here</a>.    
</p>

</div>

<hr>

<div class="toc">
  <h2>Recent Teaching Posts</h2>
  <ul class="post">
  {% assign posts = site.teaching | where:"category","qual" | reverse %}
  {% for item in posts limit:2 %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  
</div>


<div class="toc">
  <h2>Recent Blog Posts</h2>
  <ul class="post">
  {% for item in site.posts reversed limit:2 %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  
</div>

<!--<div class="toc">
  <h2>Recent Papers</h2>
  <ul class="post">
  {% for item in site.posts %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  
</div>


<div class="toc">
  <h2>Upcoming Events</h2>
  <ul class="post">
  {% for item in site.posts %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  
</div>-->


