---
layout: default
title: "Nick Henscheid"
---
<div class="introduction">
  <h1></h1>

<p>I am a graduate student in the <a href="www.appliedmath.arizona.edu" target="_blank">Program in Applied Mathematics</a> at the University of Arizona.  I am currently working as a research associate with prof. Harrison Barrett in the <a href="http://medicalimaging.medicine.arizona.edu/research/research-labs/cgri" target="_blank">Center for Gamma Ray Imaging</a>.  I use information theory, random processes, high-performance parallel simulation, and inverse problems theory to understand the role that emission imaging data plays in personalized medicine.
</p>
<p>
To read more about my research, visit my <a href="/site/research">research</a> page. 	
</p>

</div>

<hr>

<div class="toc">
  <h2>Recent Blog Posts</h2>
  <ul class="post">
  {% for item in site.posts do %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  
</div>

<!--<div class="toc">
  <h2>Recent Papers</h2>
  <ul class="post">
  {% for item in site.posts do %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  
</div>


<div class="toc">
  <h2>Upcoming Events</h2>
  <ul class="post">
  {% for item in site.posts do %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  
</div>-->


