---
---


.MathJax {
font-size: 1.1em;
}

.center-image{
    margin: 0 auto;
    display: block;
}

.theme-base-0z .container a, .theme-base-0z .sidebar-toggle, .theme-base-0z .related-posts li a:hover{

    color:#1572a8
}

/*.theme-base-0z .container a, .theme-base-0z .sidebar-toggle, .theme-base-0z .related-posts li a:hover{

    color:#0e8e2c;
}*/